@import "compass_twitter_bootstrap";

$width-content: 640px;
$center-box: 0px auto;
$radius: 10px;
$shadow: 2px 2px 2px black;
$page-width: 753px;
$form-padding: 20px;

body {
  background-color: #e1e1e8;
}

#content {
  width: $width-content;
  background-color: white;
  text-align: center;
  margin : $center-box;
  padding: 10px;
  @include border-bottom-radius($radius);
  @include box-shadow($shadow);
}

header {
  @include border-top-radius($radius);
  width: $width-content;
  background-color: #644436;
  color: #DFC184;
  margin: $center-box;
  margin-top: 60px;
  padding: 10px;
  @include box-shadow($shadow);
}

#title {
  margin: 0px;
  text-shadow: 2px 2px 2px black;
}

footer {
  color: #7EB5D6;
  text-align: center;
  padding-top: 25px;
}

#need-help {
  float: right;
  border: 1px solid #e5e5e5;
  padding: 0px 0px 10px 15px;
  width: 200px;
  background-color: #e1e1e8;
  @include border-radius($radius);
}

#create-form {
  float: left;
}

#main-form {
  overflow: auto;
  width: $page-width;
  margin: $center-box;
  padding: $form-padding;
  background-color: white;
}

#create-heading {
  text-shadow: 2px 2px 2px gray;
}

#overview {
  margin: $center-box;
  width: $page-width + $form-padding * 2;
  text-align: center;
  background-color: white;
}

.url-field-width {
  width: 413px;
}

input[type=submit] {
  float: right;
}

#create-section {
  width: $page-width + $form-padding * 2;
  @include box-shadow($shadow);
  margin: $center-box;
}

.item-width {
  width: 200px;
}

#shows-menu {
  list-style-type: none;
}