!!! 5
%html
  %head
    %title= "Social Studios tv"
  %body
    %header
      %h2= "Hello there"

    %section
      %article
        %header
          %p
            ok, put your stuff here...

      %footer
        %p
          Copyright 2013 Social Studios