%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:shows, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:shows, :new)

.tabs-content
  -form_for :show, url(:shows, :create), :class => 'form-horizontal' do |f|
    =partial 'shows/form', :locals => { :f => f }
