!!! 5
%html
  %head
    %title= "Social Studios tv"
    =include_stylesheets :application, :media => 'all'
  %body.bp
    %header
      %h2= "Hello there"

    %section#content
      =yield

      %footer
        %p
          Copyright 2013 Social Studios
    =include_javascripts :application
