!!! 5
%html{lang: 'en'}
  %head
    %title Social Studios TV
    =include_stylesheets :application, :media => 'all'
  %body
    .container-fluid
      %header
        %h2= "Unagi"

      %section#content
        =yield

      %footer
        %div
          .container
            %p
              Copyright 2013 Social Studios
    =include_javascripts :application
